Ejercicios/dtd_externa/ejercicio-ii-1b-dtd.dtd

<!ELEMENT fichero_v2 (ficha+)>
<!ELEMENT ficha (nombre, apellido, direccion*, DUI?, edad?)>
<!ELEMENT nombre (#PCDATA)>
<!ATTLIST nombre genero (masculino|femenino) #REQUIRED>
<!ATTLIST nombre edad CDATA #IMPLIED>
<!ELEMENT apellido (#PCDATA)>
<!ELEMENT direccion (#PCDATA)>
<!ELEMENT DUI (#PCDATA)>
<!ELEMENT edad (#PCDATA)>
